body {
    overscroll-behavior-y: contain;
}

#quest {
    font-family: "PT Mono", sans-serif;
    font-size: 12pt;
    counter-reset: seqno;
    text-align: center;
    margin: 1em;
}

#install {
    position: fixed;
    bottom: 2em;
    right: 2em;
    height: 70px;
    width: 70px;
    background-image: url(icons/quest_64.png);
    background-repeat: no-repeat;
    background-position: center;
}

.fab {
    z-index: 100;
    border-radius: 50%;
    border: 0;
    outline: 0;
    background-color: skyblue;
    box-shadow: 0 6px 10px #666;
    transition: all 0.1s ease-in-out;
}

.fab:active {
    background-color: rgb(116, 179, 204);
    box-shadow: 0 4px 6px #666;
    transform: scale(0.95);
}

div.input {
    display: inline-block;
    position: relative;
}

div.input * {
    font-family: "Roboto Mono", monospace;
    font-size: 24pt;
}

div.input .input-border {
    position: absolute;
    top: 10px;
    z-index: -1;
}

div.input input.input-field {
    border: none;
    outline: none;
    text-transform: uppercase;
    background: transparent;
    padding-bottom: 15px;
}

.riddle {
    text-align: left;
}

.riddle .text::before {
    content: counter(seqno) ". ";
    counter-increment: seqno;
}

.riddle img {
    display: block;
    margin: 0 auto;
    max-width: 70%;
    max-height: 250px;
    padding-bottom: 20px;
    filter: blur(20px);
    transition: 2s filter linear;
}

.riddle img[data-blur="noblur"] {
    filter: none;
}
